{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calculation/css/style.css' %}">
    <title>صفحه اصلی</title>
</head>
<body>
    <div class="header">
        <nav class="navbar fixed-top">
          <div class="desktop-logo">
            <a href="{% url 'index' %}" class="desktop">دخل و خرج</a>
          </div>
          <div class="name-logo">
            <a href="#" style="color: #f6f5f0; font-size:15px ;">دخل و خرج</a>
          </div>
          <div class="menu-toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
            <ul class="nav-list">
                <li><a href="html/contact.html">ارتباط با ما</a></li>
                <li><a href="html/aboutus.html">درباره ما</a></li>
                <li><a href="404/404.html">خدمات ما</a></li>
                <li><a href="404/404.html">مقاله ها</a></li>
            </ul>
        </nav>
      </div>
      <script src="javascript/script.js"></script>
</body>
</html>