{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calculation/css/style.css' %}">
    <title>صفحه اصلی</title>
</head>
<body>
    <header>
    <div class="nav">
        <nav class="nav-bar">
            <a href="">ثبت نام</a><a href="">ورود</a><a href="{% url 'insert-data' %}">صفحه محاسبه</a>
        </nav>
    </div>
</header>
</body>
</html>