{% load static %}

<!DOCTYPE html>
<html lang="fa">

<head>
  <meta charset="UTF-8">
  <title>ورود به دخل و خرچ</title>
 
  <link rel='stylesheet' href='https://unicons.iconscout.com/release/v2.1.9/static/css/unicons.css'>
  <link rel="stylesheet" href="{% static 'calculation/css/bootstrap.css' %}">
  <link rel="stylesheet" href="{% static 'calculation/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'calculation/css/Codilo.css' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon.png">
</head>

<body class="vazir">
  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>ورود</span><span>ثبت نام</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">ورود</h4>
                      <form action="{% url 'user-panel' %}" method="post">
                        {% csrf_token %}
                      <div class="form-group">
                        <input type="text" name="username" class="form-style" placeholder="نام کاربری" id="logemail"
                          autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="password" class="form-style" placeholder="پسورد" id="logpass"
                          autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <button type="submit" href="#" class="btn mt-4">ثبت</button>
                      <p class="mb-0 mt-4 text-center"><a href="#0" class="link">فراموشی رمز</a></p>
                    </div>
                  </div>
                </div>
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">ثبت نام</h4>
                      <div class="form-group">
                        <input type="text" name="username-sign" class="form-style" placeholder="نام شما" id="logname"
                          autocomplete="off">
                        <i class="input-icon uil uil-user"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="email" name="email-sign" class="form-style" placeholder="ایمیل شما" id="logemail"
                          autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>
                      <div class="form-group mt-2">
                        <input type="password" name="password-sign" class="form-style" placeholder="پسورد شما"
                          id="logpass" autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>
                      <button type="submit" href="#" class="btn mt-4">ثبت</button>
                    </div>
                    <input type="hideen" name="next" value="{{request.build_absolute_uri}}">
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="./script.js"></script>
  <script src="Codilo.js"></script>


</body>

</html>
