{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calculation/css/show_data.css' %}">
    <title>دیدن اطلاعات</title>
</head>
<body>
    <div class="container">
        <div class="datas">
            <div class="table">
                <div class="data-table">
                    <label>تراکنش های اخیر:</label>
                    {{data |safe}}
                </div>
                <div class="data-notable">
                    
                </div>
            </div>
            <div class="table2">
                <div class="cache">

                </div>
                <div class="data-notable2">
                    
                </div>
            </div>
        </div>
        <div class="side-bar">
        {{data}}
        </div>
    </div>
</body>
</html>