{% extends "base.html" %}
{% load static %}

{% block page-title %} پنل کاربری {% endblock page-title %}

{% block style %} {% static 'calculation/css/suggested.css' %} {% endblock style %}


{% block content %}
    <div class="container">
        <div class="datas">
            <div class="suggested-part">
                <ul>
                    <li>
                        <h3>
                            اینارو یادت باشه...
                        </h3>
                    </li>
               <li>
                اثر پروانه ای میگه با روزی 10هزارتومن درسال 3،650،000 تومان صرفه جویی میشه...
               </li>

                <li>
                در کنار کاری که میکنی همیشه کار خودتو هم داشته باش
                </li>

               <li>
                <mark><a href="{% url 'insert-data' %}" style="text-decoration: none;">هزینه هاتو یادداشت کن تا بتونی روشون تسلط پیدا کنی</a></mark>
               </li>
               <li>
                علاوه بر پول در زمان هم صرفه جویی کن، برنده میشی
               </li>
               <li>
                در کنار پس انداز پولتو برای خودتم خرج کن و به خودت هدیه بده
               </li>
            </div>
        </div>
                
        <div class="side-bar">
            <p>
                <a href="{% url 'user-panel' %}">پنل کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'insert-data' %}">افزودن هزینه جدید</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'income' %}">ثبت درآمد</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'chart' %}">نمودار هزینه ها</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'user-information' %}">نمایه کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'help' %}">راهنما</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'poshtibani' %}">تیکت به پشتیبانی</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'exit' %}">خروج</a>
            </p>
            <hr>
        </div>
    </div>
    {% endblock content %}