{% extends "base.html" %}
{% load static %}

{% block page-title %} پنل کاربری {% endblock page-title %}

{% block style %} {% static 'calculation/css/ticket.css' %} {% endblock style %}


{% block content %}
    <div class="container">
        <div class="datas">
            <div class="ticket">
                <form action="{% url 'ticket' %}" method="post">
                    <input type="hidden" name="user" id="username" value="{{request.user}}">
                    <label for="type">دلیل تیکت شما چیست؟</label><br>
                    <select name="type" id="type">
                        <option value="volvo"> </option>
                        <option value="volvo">اشکالات فنی</option>
                        <option value="saab">اشکالات مالی</option>
                        <option value="mercedes">اختلال یا باگ</option>
                        <option value="audi">اشکالات دیگر</option>
                    </select><br>
                    <label for="text">متن تیکت خود را بنویسید</label><br>
                    <input type="text" name="text" id="text"><br>
                    <button type="submit">ارسال</button>
                </form>
                </div>
        </div>
                
        <div class="side-bar">
            <p>
                <a href="{% url 'user-panel' %}">پنل کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'insert-data' %}">افزودن هزینه جدید</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'chart' %}">نمودار هزینه ها</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'user-information' %}">نمایه کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'help' %}">راهنما</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'poshtibani' %}">تیکت به پشتیبانی</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'exit' %}">خروج</a>
            </p>
            <hr>
        </div>
    </div>
    {% endblock content %}