{% extends "base.html" %}
{% load static %}

{% block page-title %} پنل کاربری {% endblock page-title %}

{% block style %} {% static 'calculation/css/ticket.css' %} {% endblock style %}


{% block content %}
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
    <div class="container">
        <div class="datas">
            {% if text == 0 %}
            <div class="success-message" id="success-message" style="background-color: rgb(255, 126, 126);">
                لطفا اطلاعات را به درستی وارد کنید
              </div>
            {% elif text == 1 %}
            <div class="success-message" id="success-message" style="background-color: rgb(126, 255, 156);">
                تیکت شما ارسال شد ممنونم از شما
              </div>
              {% else %}
              <div class="success-message" style="display: none;"></div>
              {% endif %}
            <div class="tickets">
                <form action="{% url 'ticket' %}" method="post">
                {% csrf_token %}
                    
                    <label for="ticket_type">{{ form.ticket_type.label }}</label><br>
                    {{ form.ticket_type }} <br>
                    <label for="ticket">{{ form.ticket.label }}</label><br>
                    {{ form.ticket }} <br>
                    <button type="submit">ارسال</button>
                </form>
                <script>
                    const successMessage = document.getElementById('success-message');
                    successMessage.style.display = 'block';
                    setTimeout(() => {
                        successMessage.style.display = 'none';
                      }, 3000);

                    tinymce.init({
                        selector: 'text',
                        menubar: true,
                        plugins: 'lists link image',
                        toolbar: 'bold italic underline | bullist numlist | link',
                        directionality: 'rtl', // برای راست‌چین
                        height: 300
                      });
                </script>
                </div>
        </div>
                
        <div class="side-bar">
            <p>
                <a href="{% url 'user-panel' %}">پنل کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'insert-data' %}">افزودن هزینه جدید</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'income' %}">ثبت درآمد</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'chart' %}">نمودار هزینه ها</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'user-information' %}">نمایه کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'help' %}">راهنما</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'poshtibani' %}">تیکت به پشتیبانی</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'exit' %}">خروج</a>
            </p>
            <hr>
        </div>
    </div>
    {% endblock content %}