{% extends "base.html" %}
{% load static %}

{% block page-title %} پنل کاربری {% endblock page-title %}

{% block style %} {% static 'calculation/css/user_panel.css' %} {% endblock style %}

{% block content %}
    <div class="container">
        <div class="datas">
            <div class="table">
                <div class="data-table"> 
                    <p>
                        تراکنش های اخیر
                    </p>
                        {{recently |safe}}
                </div>
                <div class="income">
                    <h3>درآمدتو بهمون بگو تا بهت توی پس اندازش کمکت کنیم</h3>

                </div>
            </div>
            <div class="table2">
                <div class="variable-cost">
                    <ul>
                        <li>
                            <h3>یک سری اطلاعات از خرجای این ماهت</h3>
                        </li>
                   <li>
                        بیشترین هزینه:  {{more_cost}} <b>تومان</b>
                   </li>

                    <li>
                        کم ترین هزینه: {{least_cost}} <b>تومان</b>
                    </li>

                   <li>
                        جمع کل هزینه ها: {{costs}} <b>تومان</b>
                   </li>
                </ul>
                </div>
                <div class="data-notable2">
                    
                </div>
            </div>
        </div>
        <div class="side-bar"> 
            <p>
                <a href="{% url 'user-panel' %}">پنل کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'insert-data' %}">افزودن هزینه جدید</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'insert-data' %}">ثبت درآمد</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'chart' %}">نمودار هزینه ها</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'user-information' %}">نمایه کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'help' %}">راهنما</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'poshtibani' %}">تیکت به پشتیبانی</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'exit' %}">خروج</a>
            </p>
            <hr>
        </div>
    </div>
    {% endblock content %}
