{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'calculation/css/user_panel.css' %}">
    <title>دیدن اطلاعات</title>
</head>
<body>
    <div class="header">
        <nav class="navbar fixed-top">
          <div class="desktop-logo">
            <a href="{% url 'index' %}" class="desktop">دخل و خرج</a>
          </div>
          <div class="name-logo">
            <a href="{% url 'index' %}">دخل و خرج</a>
          </div>
          <div class="menu-toggle" id="mobile-menu">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
          </div>
            <ul class="nav-list">
                <li><a href="{% url "index" %}">دلیل پیدایش</a></li>
                <li><a href="{% url 'insert-data' %}">خرجتو بنویس</a></li>
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'user-panel' %}">{{ request.user }} کاربر</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">ورود / ثبت نام</a></li>
                {% endif %}
                    <li><a href="{% url 'index' %}">صفحه اصلی</a></li>
            </ul>
        </nav>
      </div>
      <script src="javascript/script.js"></script>
    <div class="container">
        <div class="datas">
            <div class="table">
                <div class="data-table">
                    <label>تراکنش های اخیر:</label>
                    {{data |safe}}
                </div>
                <div class="data-notable">
                    
                </div>
            </div>
            <div class="table2">
                <div class="cache">

                </div>
                <div class="data-notable2">
                    
                </div>
            </div>
        </div>
        <div class="side-bar"> 
        </div>
    </div>
</body>
</html>