{% extends "base.html" %}
{% load static %}

{% block page-title %} پنل کاربری {% endblock page-title %}

{% block style %} {% static 'calculation/css/user_panel.css' %} {% endblock style %}

{% block content %}
    <div class="container">
        <div class="datas">
            <div class="table">
                <div class="data-table"> 
                    <p>
                        تراکنش های اخیر
                    </p>
                        {{recently |safe}}
                </div>
                <div class="variable-cost">
                   <p>
                        بیشترین هزینه  {{more_cost}} تومان
                    </p>

                    <p>
                        کم ترین هزینه {{least_cost}} تومان
                    </p>

                   <p>
                        جمع کل هزینه ها {{costs}} تومان
                    </p>
                </div>
            </div>
            <div class="table2">
                <div class="cache">
                    
                </div>
                <div class="data-notable2">
                    
                </div>
            </div>
        </div>
        <div class="side-bar"> 
            <p>
                <a href="{% url 'calculater' %}">افزودن هزینه جدید</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'chart' %}">نمودار هزینه ها</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'user-information' %}">نمایه کاربری</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'help' %}">راهنما</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'poshtibani' %}">تیکت به پشتیبانی</a>
            </p>
            <hr>
            <p>
                <a href="{% url 'exit' %}">خروج</a>
            </p>
            <hr>
        </div>
    </div>
    {% endblock content %}
