.content {
    background-color: aquamarine;
    margin-left: 620px;
    margin-right: 620px;
    margin-top: 150px;
    text-align: center;
    direction: rtl;
    height: 220px;
    padding-top: 40px;
    width: 200px;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
}

body {
    background-image: url('../image/pexels-rdne-8292772.jpg');
}
