.errorlist { display: none; } /* خطاهای فرم را پنهان می‌کند */
label { 
    display: none; 
    width: 100%;
    }
 textarea {
    height: 50px;
    width: 170px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    resize: none;
    }

.content {
    background-color: aquamarine;
    margin-left: 620px;
    margin-right: 620px;
    margin-top: 150px;
    text-align: center;
    direction: rtl;
    height: 220px;
    padding-top: 40px;
    width: 200px;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
}

body {
    background-image: url('../image/pexels-rdne-8292772.jpg');
}

.logo {
    display: none;
}

.name-logo {
    display: none;
}

.desktop-logo {
    display: flex;
    width: 50%;
	float: left;
	line-height: 100px;
    margin-left: 30px;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}
.desktop-logo a {
    display: flex;
    width: 50%;
	float: left;
	line-height: 100px;
    margin-left: 30px;
    font-size: 40px;
    text-decoration: none;
    color: #000000;
}

 
header {
	height: 80px;
	background: #ffffff;
	width: 100%;
	z-index: 10;
	position: fixed;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    height: 80px;
    text-shadow: 0px 2px 2px #000000;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
    opacity: inherit;
}

.nav-list li {
    margin: 0 1rem;
}

.nav-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: #5dbcd2;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #ffffff;
    margin: 3px 0;
}

#mobile-menu {
    background-color: #5dbcd2;
}

/* استایل برای موبایل */
@media (max-width: 950px) {
    .nav-list {
        display: none;
        flex-direction: row-reverse;
        width: 100%;
        background-color: #ffffff;
        color: #000000;
        position: absolute;
        top: 110px; /* ارتفاع navbar */
        left: 0;
    }

    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        float: right;
        position: static;
        margin-top: 1px;
        background-color: #ffffff;
        opacity: 100%;
        direction: rtl;
    }
    .banner-area h2 {
        font-size: 30px;
        padding-top: 100px;
    }

    .banner-area {
        width: 100%;
        margin-top: 0px;
        height: 300px;
        text-align: center;
        top: 0;
    }

    .navbar .logo {
        display: flex;
        /* width: 100%; */
        margin-left: -10px;
    }

    .navbar{
        height: 140px;
        width: 100%;
        box-shadow: none;
    }
    .nav-list a {
        font-size: 12px;
    }
    
    .desktop-logo {
        display: none;
    }

    .navbar .name-logo {
        display: flex;
        text-align: center;
        float: inline-end;
    }
} 
