.data-table {
    background-color: rgb(255, 255, 181);
    text-align: center;
    direction: rtl;
    height: 230px;
    width: 300px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    border: none ;
    padding: 5px;

}

.data-notable {
    background-color: rgb(181, 239, 255);
    text-align: center;
    direction: rtl;
    height: 220px;
    width: 300px;
    margin-right: 200px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    border: none aqua;
    padding: 5px;
    float: right;
}

.table {
    width: 100%;
    padding: 50px;
    display: flex;
}