.datas {
    margin-top: 100px;
    width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    width: 100%;
    /* height: 800px; */
}

.data-table {
    background-color: rgb(255, 255, 181);
    text-align: center;
    direction: rtl;
    height: 250px;
    width: 350px;
    margin-right: 150px;
    margin-left: 150px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    padding: 5px;
    float: right;
    /* display: grid; */
}

.data-table table{
    height: 85%;
    border: none;
    margin-top: 10px;
    width: 100%;
}

.data-table p {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #980000;
}

.data-table table td {
    font-size: 13px; /* اندازه متن در سلول‌ها */
  }

.data-table table tr:nth-child(even) {
    background-color: rgb(181, 255, 201);
  }

.data-table table td:nth-child(even) {
    background-color: rgb(181, 255, 201);
  }

.data-table table th:nth-child(even) {
    background-color: rgb(181, 255, 201);
  }

.data-notable {
    background-color: rgb(181, 239, 255);
    text-align: center;
    direction: rtl;
    height: 250px;
    width: 350px;
    margin-right: 150px;
    margin-left: 50px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    padding: 5px;
    float: right;
    display: flex;
}

.table {
    width: 100%;
    padding: 20px;
    display: flex;
}
.cache {
    background-color: rgb(181, 255, 201);
    text-align: center;
    direction: rtl;
    height: 250px;
    width: 350px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    border: none ;
    padding: 5px;
}

.data-notable2 {
    background-color: rgb(255, 181, 181);
    text-align: center;
    direction: rtl;
    height: 250px;
    width: 350px;
    margin-right: 150px;
    margin-left: 50px;
    margin-top: 50px;
    text-align: center;
    direction: rtl;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    opacity: 90%;
    border: none aqua;
    float: right;
    padding: 5px;
    display: flex;
}

.table2 {
    width: 100%;
    padding: 20px;
    display: flex;
}

.side-bar{
    width: 300px;
    background-color: rgb(255, 224, 247);
    height: 685px;
    float: right;
    margin-right: 0 auto;
    margin-top: 20px;
    box-shadow: 0px 5px 10px 5px rgb(137, 137, 137);
    justify-content: right;
    justify-self: right;
}


body {
    background-color: rgb(243, 243, 243);
}

.side-bar p {
    text-align: right;
    direction: rtl;
    margin-top: 40px;
    font-size: 25px;
    margin-right: 10px;
}

.side-bar a {
    text-decoration: none;
    color: #980000;
    letter-spacing: 2px;
}

.side-bar hr{
    color: rgb(0, 0, 0);
    size: 5px;
}
